*.pyc
.vscode/
pvalranges/
*.h5
*.npy
*.DS_Store
results/
*.ipynb_checkpoints
*.pth
*.pth.tar
*test.py
*cifar-10-batches-py
*.csv
*.python-version
.bash_commands
inputdata/.cache/
experiments/.ignore/
results/dummyresults.out